@import "tailwindcss";
 .food{
    background-image: url(Rice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .steak{
    background-image: url(steak.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 
 .in{
    
 }
 @keyframes reveal {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.scroll-reveal {
  animation: reveal 0.6s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
  will-change: opacity, transform;

}

@keyframes reveal-left {
  from {
    opacity: 1;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.scroll-left {
  animation: reveal-left 0.6s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 90% cover 90%;
}

@keyframes reveal-right {
  from {
    opacity: 1;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.scroll-right {
  animation: reveal-right 0.6s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 90% cover 90%;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-hover-wrap {
  position: relative;       
  overflow: hidden;        
  width: 400px;            
  height: 400px; 
  border-radius: 30px;          
}


.image-hover-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  transition: transform 0.5s ease; 
}


.image-hover-wrap:hover img {
  transform: scale(1.1);   
}


.image-hover-wrap::after {
  content: "";             
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0; 
  background: rgba(0,0,0,0.3); 
  opacity: 0;              
  transition: opacity 0.5s ease;
}


.image-hover-wrap:hover::after {
  opacity: 1;              
}
.image-hover {
  position: relative;       
  overflow: hidden;        
  width: 1100px;            
  height: 500px; 
  border-radius: 30px;          
}


.image-hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  transition: transform 0.5s ease; 
}


.image-hover:hover img {
  transform: scale(1.1);   
}


.image-hover::after {
  content: "";             
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0; 
  background: rgba(0,0,0,0.3); 
  opacity: 1;              
  transition: opacity 0.5s ease;
}


.image-hover:hover::after {
  opacity: 1;              
}
.image {
  position: relative;       
  overflow: hidden;        
  width: 900px;            
  height: 600px; 
  border-radius: 30px;          
}


.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  transition: transform 0.5s ease; 
}


.image:hover img {
  transform: scale(1.1);   
}


.image::after {
  content: "";             
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0; 
  background: rgba(0,0,0,0.3); 
  opacity: 1;              
  transition: opacity 0.5s ease;
}


.image:hover::after {
  opacity: 1;              
}
